html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 2rem;
}

#test:hover {
  transition-duration: 3s;
  transform: rotate(180deg);
  padding: 2rem;
}

td, th {
  padding: 0.3rem;
}
